# Backend
BACK_PORT=3000
DB_HOST=tu-host-db-remota
DB_PORT=3306
DB_NAME=tu_base_de_datos
DB_USER=tu_usuario
DB_PASSWORD=tu_password
DB_DIALECT=mysql
CORS_ORIGIN=https://tu-dominio.com

# Frontend
FRONT_PORT=8080
VITE_API_URL=https://api.tu-dominio.com/api
